Repository openthread/ot-commissioner, pull requests merged in 2024-08, with the labels that each got.

#291 [build] include `common/logging.hpp` at `token_manager.cpp` to fix build
  src/library/token_manager.cpp
Labels: bug

#292 [cli] extend start command to support --connect-only option
  include/commissioner/commissioner.hpp
  src/app/cli/README.md
  src/app/cli/interpreter.cpp
  src/app/cli/interpreter_test.cpp
  src/app/commissioner_app.cpp
  src/app/commissioner_app.hpp
  src/app/commissioner_app_dummy.cpp
  src/app/commissioner_app_mock.hpp
  src/library/commissioner_impl.cpp
  src/library/commissioner_impl.hpp
Labels: cli

#295 [android] consolidate "app" and "service" into a single gradle project
  android/build-commissioner-libs.sh
  android/openthread_commissioner/.gitignore
  android/openthread_commissioner/app/.gitignore
  android/openthread_commissioner/app/build.gradle
  android/openthread_commissioner/app/src/androidTest/java/io/openthread/commissioner/ActiveOperationalDatasetTest.java
  android/openthread_commissioner/app/src/main/AndroidManifest.xml
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/BorderAgentDiscoverer.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/BorderAgentInfo.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/CameraSourceView.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/CommissionerUtils.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/CommissioningFragment.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/FetchCredentialDialogFragment.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/FragmentCallback.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/FragmentUtils.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/InputNetworkPasswordFragment.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/JoinerDeviceInfo.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/MainActivity.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/NativeCommissionerLogger.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/NetworkAdapter.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/ScanQrCodeFragment.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/SelectNetworkFragment.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/ThreadCommissionerException.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/ThreadCommissionerService.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/ThreadCommissionerServiceImpl.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/ThreadNetworkInfo.java
  android/openthread_commissioner/app/src/main/java/io/openthread/commissioner/app/ThreadNetworkInfoHolder.java
  android/openthread_commissioner/app/src/main/res/drawable/ic_done_icon.xml
  android/openthread_commissioner/app/src/main/res/drawable/ic_error_icon.xml
  android/openthread_commissioner/app/src/main/res/drawable/ic_network_selected_icon.xml
  android/openthread_commissioner/app/src/main/res/drawable/ic_wireless_network_icon.xml
  android/openthread_commissioner/app/src/main/res/layout/activity_commissioner.xml
  android/openthread_commissioner/app/src/main/res/layout/fragment_fetch_credential_dialog.xml
  android/openthread_commissioner/app/src/main/res/layout/fragment_input_network_password.xml
  android/openthread_commissioner/app/src/main/res/layout/fragment_meshcop.xml
  android/openthread_commissioner/app/src/main/res/layout/fragment_network_password_dialog.xml
  android/openthread_commissioner/app/src/main/res/layout/fragment_scan_qrcode.xml
  android/openthread_commissioner/app/src/main/res/layout/fragment_select_network.xml
  android/openthread_commissioner/app/src/main/res/layout/network_list_item.xml
  android/openthread_commissioner/app/src/main/res/values/colors.xml
  android/openthread_commissioner/app/src/main/res/values/strings.xml
  android/openthread_commissioner/app/src/main/res/values/styles.xml
  android/openthread_commissioner/service/.gitignore
  android/openthread_commissioner/service/build.gradle
  android/openthread_commissioner/service/consumer-rules.pro
  android/openthread_commissioner/service/proguard-rules.pro
  android/openthread_commissioner/service/src/main/AndroidManifest.xml
  android/openthread_commissioner/service/src/main/java/io/openthread/commissioner/service/CommissionerActivity.java
  android/openthread_commissioner/service/src/main/java/io/openthread/commissioner/service/JoinerDeviceInfo.java
  android/openthread_commissioner/service/src/main/java/io/openthread/commissioner/service/ThreadNetworkInfoHolder.java
  android/openthread_commissioner/service/src/main/res/values/colors.xml
  android/openthread_commissioner/service/src/main/res/values/strings.xml
  android/openthread_commissioner/settings.gradle
Labels: Android App
